.map{
    height: 90vh;
}

.map-place{
    border: 1px solid rgba(0, 0, 0, 0.158);
    padding: 7px;
    width: 84px;
    // z-index: 222222;
    cursor: pointer;
    background-color: white;
    z-index: 1;
    position: absolute;
    transform: translate(-50%,-50%);
    .name{
        margin: 5px 0 5px 0;
    }
    .rating{
        margin-top: 5px;
    }
}

.map-place:hover{
    z-index: 2 !important;
}